.container {
  height: 340px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.container:hover {
  scale: 0.95;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.container span {
  color: var(--on-text-card-span);
  margin-left: 0.3rem;
  font-weight: 300;
}

.info h1,
.info p {
  margin: 0;
  color: var(--on-text-card-h1-p);
}

.info h1 {
  font-size: 1.2rem;
  margin: 0.9rem 1rem;
  font-weight: 800;
}

.info p {
  font-weight: 600;
  margin: 0 0 0.2rem 1rem;
}
