.inputContainer input {
  padding: 1rem 4.5rem;
  width: 30rem;
  border-radius: 5px;
  background: var(--on-icon-search-bg);
  border: none;
  font-size: 1.2rem;
  color: var(--on-text);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
}
