.container {
  margin: 5.5rem auto;
  max-width: 1440px;
}

.detailsContainer {
  padding: 1rem;
  height: 100vh;
  color: var(--on-text);
  display: flex;
  gap: 9rem;
  margin-left: 3.5rem;
  width: 100%;
}

.detailsContainer span {
  color: var(--on-text-card-span);
}

.backBtn {
  margin-bottom: 5rem;
  margin-left: 5rem;
}

.backBtn a {
  background: var(--on-backBtn-bg);
  background-size: 1rem;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  padding: 0.3rem 2.5rem;
  border-radius: 5px;
  color: var(--on-text);
  font-size: 1rem;
}

.backBtn a span {
  padding-left: 1rem;
}

.allInformation {
  margin-top: 0.9rem;
}

.allInformation h1 {
  margin-bottom: 0.1rem;
}
.flag {
  height: 43%;
  min-width: 42%;
  background-color: transparent;
  box-shadow: 21px 20px 30px rgba(0, 0, 0, 0.5);
}

.flag img {
  height: 100%;
  width: 100%;
}

.info {
  display: flex;
}

.right {
  width: 50%;
  margin-left: 9.5rem;
}

.borders {
  height: 8rem;
  display: flex;
  align-items: center;
}

.borders p {
  width: 25%;
  align-self: flex-start;
}

.bordersValuesContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 8rem;
  width: 75%;
}

.bordersValues {
  padding: 0.2rem 2.4rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
}

.bordersValues:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.left p,
.right p,
.borders p {
  font-weight: 800;
}

.left p span,
.right p span {
  font-weight: 300;
}

@media (max-width: 1000px) {
  .detailsContainer {
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    gap: 1rem;
    margin-left: unset;
    margin: auto;
  }

  .borders {
    flex-wrap: wrap;
    height: auto;
  }

  .borders p {
    width: auto;
  }

  .bordersValuesContainer {
    height: auto;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .container {
    padding-bottom: 2rem;
  }

  .flag {
    height: auto;
    width: 100%;
    margin: auto;
  }

  .flag img {
    width: 100%;
  }

  .info {
    flex-direction: column;
  }

  .right {
    width: 100%;
    margin-left: unset;
    margin-top: 4rem;
  }

  .bordersValuesContainer {
    height: 8rem;
    width: 100%;
  }
}
