.nav_container {
  padding: 0.6rem 0;
  background-color: var(--clr__DarkBlue);
}

.nav_list {
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: var(--clr__White);
  padding: 0 4rem;
}

.nav_list li {
  list-style: none;
}

.nav_list .where {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.nav_list .mode {
  display: flex;
  align-items: center;
  width: 10rem;
  cursor: pointer;
}

.nav_list .mode span {
  margin-left: 1rem;
  font-size: 1.1rem;
}
