.nav_container {
  padding: 0.6rem 0;
  background-color: var(--on-header);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.nav_list {
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: var(--on-text);
  padding: 0 5rem;
  width: 100%;
}

.nav_list li {
  list-style: none;
}

.nav_list .where {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 700;
  cursor: pointer;
}

.nav_list .mode {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

@media (max-width: 850px) {
  .nav_list {
    padding: 0 1rem;
  }
}
