.cardsContainer {
  padding-top: 2.5rem;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 3rem;
  justify-items: center;
  animation: 0.7s cards ease-in-out;
}

.fewCardsContainer {
  padding-top: 2.5rem;
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  animation: 0.7s cards ease-in-out;
}

@keyframes cards {
  0% {
    opacity: 0;
    transition: all 0.2s;
  }
  50% {
    opacity: 0.5;
    transition: all 0.3s;
  }
  100% {
    opacity: 1;
    transition: all 0.3s;
  }
}

.noCountry {
  color: var(--on-text);
}

@media (max-width: 600px) {
  .cardsContainer {
    justify-content: center;
    width: 90%;
  }

  .fewCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
    animation: 0.7s cards ease-in-out;
  }
}
