@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --clr__DarkBlue: hsl(209, 23%, 22%);
  --clr__VeryDarkBlue__bg--dark: hsl(207, 26%, 17%);
  --clr__VeryDarkBlue__tx: hsl(200, 15%, 8%);
  --clr__DarkGray: hsl(0, 0%, 52%);
  --clr__VeryLightGray: hsl(0, 0%, 98%);
  --clr__White: hsl(0, 0%, 100%);
  --clr__grayishWhite: hsla(0, 0%, 100%, 0.596);
  --clr__VeryDarkBlue__bg--light: hsl(0, 0%, 98%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background: var(--clr__VeryDarkBlue__bg--dark);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.8rem;
}

*::-webkit-scrollbar-track {
  background: var(--clr__VeryDarkBlue__bg--dark);
}

*::-webkit-scrollbar-thumb {
  background: var(--clr__VeryDarkBlue__bg--dark);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--clr__White);
    background: var(--clr__VeryDarkBlue__bg--dark);
  }
} */

