.inputs {
  padding: 2.5rem 3rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .inputs {
    display: flex;
    justify-content: space-between;
  }
}

